 #unit {
  background: url("../img/title_icons/unit.png") no-repeat 0% 50%;
  width: auto;
  height: auto;
  padding: 27px 0px 0px 100px;
  margin-left: -20px;
  }
  
  #key {
  background: url("../img/title_icons/key.png") no-repeat 0%  50%;
  width: auto;
  height: auto;
  padding: 25px 0px 0px 100px;
  margin-left: -20px;
  ;
  }
  
  #obj {
  background: url("../img/title_icons/obj.png") no-repeat 0%  50%;
  width: auto;
  height: auto;
 padding: 25px 0px 0px 100px;
  margin-left: -20px;
  }
 
 #learn {
  background: url("../img/title_icons/learn.png") no-repeat 0%  50%;
  width: auto;
  height: auto;
  padding: 25px 0px 0px 75px;
  margin-left: 10px;
  
  }
  
  #disc {
  background: url("../img/title_icons/discussion.png") no-repeat 0%  50%;
  width: auto;
  height: auto;
  padding: 25px 0px 0px 75px;
  margin-left: 10px;}
